<!DOCTYPE html>
<html>
<head>
<title>Forest Fire Prediction</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

<h1>Algerian Forest Fire Prediction</h1>

<form action="/predict" method="post">

<input type="number" name="day" placeholder="Day" required>

<input type="number" name="month" placeholder="Month" required>

<input type="number" name="year" placeholder="Year" required>

<input type="number" step="any" name="Temperature" placeholder="Temperature" required>

<input type="number" step="any" name="RH" placeholder="RH" required>

<input type="number" step="any" name="Ws" placeholder="Wind Speed" required>

<input type="number" step="any" name="Rain" placeholder="Rain" required>

<input type="number" step="any" name="FFMC" placeholder="FFMC" required>

<input type="number" step="any" name="DMC" placeholder="DMC" required>

<input type="number" step="any" name="DC" placeholder="DC" required>

<input type="number" step="any" name="ISI" placeholder="ISI" required>

<input type="number" step="any" name="BUI" placeholder="BUI" required>

<input type="number" step="any" name="Classes" placeholder="Class (0=Not Fire,1=Fire)" required>

<input type="number" step="any" name="Region" placeholder="Region (0/1)" required>

<button type="submit">Predict</button>

</form>

<h2>{{ prediction_text }}</h2>

</div>

</body>
</html>